.colour { color: #3498DB; }
a {	color:#3498DB; }
a:hover{ color:#95A5A6; }
a:focus {color:#3498DB; }
::selection { background: #3498DB; color: #fff; }
::-moz-selection { background: #3498DB; color: #fff; }

/**** TOOLTIP ****/
.tooltip-inner { background-color:#3498DB; }
.tooltip.top .tooltip-arrow {  border-top-color: #3498DB; }

/**** CIRCLE LINK ****/
.circle-link { background:#3498DB; }

/**** MENU ****/
.header { background: #fff; color: #555; }
.header.tiny { background: #fff; }

/**** STACK SLIDER BUTTON****/
.st-wrapper nav span:before { background: #3498DB; }
/**** STACK SLIDER LINES ****/
.st-stack {
	background-image: -webkit-linear-gradient(top, #f0F0F0 50%, #4AA3DE 50%);
	background-image: -moz-linear-gradient(top, #f0F0F0 50%, #4AA3DE 50%);
	background-image: -o-linear-gradient(top, #f0F0F0 50%, #4AA3DE 50%);
	background-image: -ms-linear-gradient(top, #f0F0F0 50%, #4AA3DE 50%);
	background-image: linear-gradient(to bottom, #f0F0F0 50%, #4AA3DE 50%);
}


/**** TEAM BOX COLOUR ****/
.grida figcaption { background:#3498DB; }

/**** WORK - HOVER BG - LOAD MORE HOVER - LIGHTBOX BAR ****/
.thumbnail-caption{ background: #3498DB;}
.grid-loadMore:hover{ color:#3498DB!important; }
.autoGrid-nav{ background: #3498DB; }

/**** BAR - BIG STATS ****/
#bigstats { background: #3498DB; }

/**** BAR - CLIENTS ****/
#Section-Colour { background: #3498DB; }

/**** PRICING TABLE CIRCLE COLOUR ****/
#pricing-table h3 span { background: #3498DB; }

/**** CONTACT SECTION CONTACT BUTTON HOVER COLOUR ****/
#ajax-contact-form input.btn { background:#3498DB!important; color:#fff!important;}
#ajax-contact-form input.btn:hover { background:#95A5A6!important; color:#fff!important; }

/**** TABS ****/
.nav-tabs .active a, .nav-tabs a:hover, .nav-tabs .active  a:focus { background-color: #3498DB!important;}

